body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    background-image: url(../img/group-of-people-1587927.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

a{
    text-decoration: none;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    background-color: rgba(39, 39, 39,0.8);
    box-shadow: 2px 5px 10px rgb(131, 131, 131);
    position: sticky;
    top: 0;
}
.menu{
    display: flex;
    align-items: center;
    padding-rigth: 10px;
}
.logo{
    margin-left: 10px;
}
.menu a{
    margin: 15px;
    color: white;
}
.menu a:hover{
    text-decoration: underline;
}
.whereis{
    height: 91.5vh;
    background-color: rgba(23, 0, 59, 0.507);
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 20% 20% 1fr 20%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.whereis h1{
    grid-row: 2/3;
    grid-column: 2 / 5;
    text-align: center;
    font-size: 30px;
    color: white;
}
.grid-item{
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgba(156, 100, 26, 0.438);
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col1{
    grid-column: 2/3;
}
.col2{
    grid-column: 3/4;
}
.col3{
    grid-column: 4/ 5;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/pexels-photo-426976.jpeg);
    background-attachment: fixed;
    background-size: contain;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 400px;
    border:none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.493);
}
.login-container a:first-child{
    width: 80%;
}
.login-container img{
    width: 100%;
    margin-top: 5%;
}
.login-container-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}
.login-container-data input{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin: 20px;
    outline: none;
    padding: 10px;
    width: 80%;
}
.login-container-data input::placeholder{
    color: #000;
}
.login-container-data button{
    width: 30%;
    background-color: rgba(39, 39, 39,0.8);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.login-container p{
    text-align: start;
    font-size: small;
}
@media screen and (max-width: 768px){
    nav{
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .menu{
        display: flex;
        justify-content: center;
    }
}